body{
  margin: 0 auto;
  background-color: #000;
}
.container{
  margin: 0 auto;
  width: 50%;
  height: 50%;
}
.box{
  width: 23%;
  height: 160px;
  border-style: solid;
  float: left;
  background: white;
  transition: 2s;
  text-indent: -9999px;
  /*border-radius: 25px;*/
}
.box:hover{
  background: white!important;
  transition: 1s!important;
}
